#!/bin/bash

if type lorri &>/dev/null; then
    echo "direnv: using lorri from PATH ($(type -p lorri))"
    eval "$(lorri direnv)"
else
    # fall back to using direnv's builtin nix support
    # to prevent bootstrapping problems.
    use nix
fi

export DEPLOY_PRIME_URL="https://myfish.netlify.com"

# source an additional user-specific .envrc in ./.envrc-local
if [ -e .envrc-local ]; then
   source .envrc-local
fi
